// Aside SCSS
@import "variables";

.main {
	display: flex;
	padding: 30px;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.aside-section {
		flex: 0 0 25%;

		.aside-content {
			border-top: 5px solid $primary;
			padding: 30px 0;

			.search-bar {
				input {
					border: 2px solid $border;
					border-right: none;
					float: left;
					padding: 10px;
					width: 85%;
				}

				button {
					border: 2px solid $border;
					border-left: none;
					width: 15%;
					height: 40px;
					font-size: 17px;
					cursor: pointer;

					img {
						padding: 6px;

						@media (max-width: 1024px) {
							padding: 0;
						}
					}
				}

				&::after {
					content: "";
					clear: both;
					display: table;
				}

			}

			.news-section {
				h1 {
					color: $primary;
					border-bottom: 3px solid $secondary;
					font-size: 24px;
					padding: 15px 0;
				}

				.card {
					border-bottom: 1px solid $border;

					.card-header {
						color: $primary;
						font-size: 18px;
						font-weight: 500;
						padding: 15px 0;
					}

					.card-footer {
						padding: 15px 0;

						a {
							color: $secondary;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}